body { font: 100%/1.6 georgia, sans-serif; height: 100%; padding: 5px 0 5px 35px; border-left:15px solid #ccc;}
a, a:hover, a:link { color: #000; }
li { padding: 2px; }

strong { padding: 4px; }
.highlight-blue { background: #CCFFFF; }
.highlight-yellow { background: #FFFF99; }
.highlight-green { background: #CCFFCC; }
.highlight-red { background: #FF9966; }
.highlight-pink { background: #FFCCFF; }



